<link href="~/Content/view/sidebar.css" rel="stylesheet" />
<section class="left-sidebar">
    <ul class="main-menu">
        @using MaxiJMobile.Models
        @{
            var name = ViewContext.ControllerName().ToStringUpper();
            var vname = ViewContext.ActionName().ToStringUpper();
            if (!(name == "WAY" && vname == "INDEX"))
            {
                using (var db = new db850b60b99a9145fea7aea52f005a5589Entities())
                {
                    if (name != "WAY")
                    {
                        foreach (var i in db.tUrl.Where(s => s.cEnable && s.cId == "00000").OrderBy(s => s.cSort))
                        {
                            <li class='menu-item scroll'><a href='/@i.cFolder/@i.cPage'>@i.cName</a></li>
                        }
                    }
                    foreach (var i in db.tUrl.Where(s => s.cEnable && (name == "WAY" ? s.cUpId == "00000" : s.cFolder == name)).OrderBy(s => s.cSort))
                    {
                        <li class='menu-item scroll'><a href='/@i.cFolder/@i.cPage'>@i.cName</a></li>
                    }
                }
            }
        }
    </ul>
</section>