@using MaxiJMobile.Models;
<div class="searcher">
    <div>
        <a href="#" id="aupurl" class="hvr-bounce-to-bottom">新增主項目</a>
        <a href="#" id="aurl" class="hvr-bounce-to-bottom">新增次項目</a>
        <a href="#" id="aupsel" class="hvr-bounce-to-bottom hvr-bounce-to-bottom-selected">查修主項目</a>
        <a href="#" id="asel" class="hvr-bounce-to-bottom">查修次項目</a>
        <form id="frm" name="frm">
            <table id="tbupsel">
                <tr>
                    <th>主項目</th>
                    <td>
                        <select id="drupurl"></select>
                    </td>
                </tr>
            </table>
            <table id="tbpurl" class="none">
                <tr>
                    <th>主項目：</th>
                    <td><input type="text" maxlength="10" size="12" placeholder="主項目" /></td>
                </tr>
            </table>
            <div class="dvbtn">
                <button id="bsubmit" type="button" class="hvr-ripple-out">確認</button>
                <button type="reset" class="hvr-ripple-out">取消</button>
            </div>
            <p></p>
        </form>
    </div>
</div>
<div id="dvdata" class="data"></div>
    @section scripts {
        <script>
            var hasin = "";
            $(window).load(function () {
                /*主項目資料*/
                function drupurl(func) {
                    $.post('@Url.Content("~/Select/getUpUrl")')
                        .done(function (d) {
                            if ($.isEmptyObject(d) && d.length <= 0) { $.alert("EX01：無主項目資料!!!"); }
                            if ($.isFunction(func)) { func(d); }
                        });
                }
                /*確認*/
                $("#bsubmit").click(function () {
                    var nowin = $(".searcher a").filter(function () { return $(this).hasClass("hvr-bounce-to-bottom-selected"); }).prop("id");
                    switch (nowin) {
                        case "asel":
                            /*查詢次項目*/
                            $.post('@Url.Content("~/Select/getUrlData")')
                                .done(function (d) {
                                    if ($.isEmptyObject(d) && d.length <= 0) { $.alert("EX02：無網頁主項目資料!!!"); }
                                    var ul = $("#drupurl").selecteAll();
                                    for (var i in d) { ul.append("<option value='" + d[i].cId + "'>" + d[i].cName + "(" + d[i].cId + ")</option>"); }
                                });
                        case "aupsel":
                        default:
                            /*查詢主項目*/
                            drupurl(function (d) {
                                if (hasin != nowin) { var ul = $("#drupurl").selecteAll({ "data": d, "value": "cId", "name": "cName" }); }
                                hasin = nowin;
                                $("#dvdata").tableData({
                                    "title": "網頁主項目",
                                    "th": ["主索引鍵,cId", "名稱,cName", "控制,cFolder", "顯示頁,cPage", "圖示,cIcon", "啟用,cEnable,bool", "排序,cSort,num", "修改"],
                                    "hidden": ["cSeq"],
                                    "data": $.grep(d, function (a) {
                                        var val = $("#drupurl :selected").val();
                                        return val == "" ? true : (a.cId == val);
                                    })
                                });                               
                            });
                            break;
                    }                    
                });
                $("#bsubmit").click();
            });
        </script>
    }
