@font-face {
    font-family: 'cwTeXFangSong';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.woff2) format('woff2'), url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.woff) format('woff'), url(//fonts.gstatic.com/ea/cwtexfangsong/v3/cwTeXFangSong-zhonly.ttf) format('truetype');
}

* {
    font-family: 'cwTeXFangSong', serif;
}

/*常用*/
.none {
    display: none;
}

.c {
    text-align: center;
}

.l {
    text-align: left;
}

.r {
    text-align: right;
}

.pointer {
    cursor: pointer;
}

body {
    margin: 0;
}

    body.classic {
        position: relative;
        height: 100%;
        color: #555555;
        text-shadow: none;
    }

        body.classic::after {
            content: "";
        }

        body.classic .heading {
            margin-top: 0;
        }

        body.classic .site-wrapper {
            padding-top: 70px;
            padding-bottom: 70px;
            border-bottom: 1px solid #eee;
        }

        body.classic #about {
            padding-bottom: 50px;
        }

            body.classic #about + .site-wrapper,
            body.classic #pricing,
            body.classic #team,
            body.classic #features {
                padding-bottom: 30px;
            }

        body.classic #portfolio {
            padding-bottom: 60px;
        }

        body.classic .sidebar__btn_open.sidebar__btn_alt {
            color: #555555;
        }
        /*welcome_classic*/
        body.classic .welcome_classic {
            display: table;
            height: 100vh;
            min-height: 100%;
            width: 100%;
            background-image: url(""), url(https://unsplash.imgix.net/reserve/URG2BbWQQ9SAcqLuTOLp_BP7A9947.jpg?q=75&fm=jpg&s=604dc379bd8749d90ca2b9c8ec270f63);
            background-position: top left, center center;
            background-size: auto, cover;
            background-repeat: repeat, no-repeat;
            background-attachment: fixed;
            color: white;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
        }

        body.classic .welcome-classic__inner {
            display: table-cell;
            vertical-align: middle;
        }

        body.classic #portfolio {
            background: url(../img/screen-bg_12.jpg) center center / cover no-repeat fixed #f9f9f9;
        }

        body.classic .portfolio__items > .row > div {
            padding-left: 5px;
            padding-right: 5px;
        }

        body.classic .portfolio__item {
            margin-bottom: 10px;
            padding: 7px;
            background-color: white;
            border: 1px solid #eee;
        }

        body.classic .portfolio-item__mask {
            top: 7px;
            right: 7px;
            bottom: 7px;
            left: 7px;
            width: auto;
            height: auto;
        }

        body.classic #team {
            background-image: url(../img/bg-pattern.png), url(../img/screen-bg_5.jpg);
            background-position: top left, center center;
            background-size: auto, cover;
            background-repeat: repeat, no-repeat;
            background-attachment: fixed;
            color: white;
        }

        body.classic #contact {
            background-image: -webkit-linear-gradient(#f9f9f9, white 25%, white);
            background-image: -o-linear-gradient(#f9f9f9, white 25%, white);
            background-image: linear-gradient(#f9f9f9, white 25%, white);
            background-repeat: no-repeat;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffffffff', GradientType=0);
        }

        body.classic .contact__form {
            margin-bottom: 0;
        }

            body.classic .contact__form .form-control {
                border: 1px solid #eee;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: white;
                color: #555555;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

                body.classic .contact__form .form-control::-moz-placeholder {
                    color: #777777;
                    opacity: 1;
                }

                body.classic .contact__form .form-control:-ms-input-placeholder {
                    color: #777777;
                }

                body.classic .contact__form .form-control::-webkit-input-placeholder {
                    color: #777777;
                }

                body.classic .contact__form .form-control:focus {
                    color: #555555;
                }

                    body.classic .contact__form .form-control:focus::-moz-placeholder {
                        color: #777777;
                        opacity: 1;
                    }

                    body.classic .contact__form .form-control:focus:-ms-input-placeholder {
                        color: #777777;
                    }

                    body.classic .contact__form .form-control:focus::-webkit-input-placeholder {
                        color: #777777;
                    }

        body.classic .contact-form__alert {
            text-align: center;
        }

        body.classic .recaptcha__merge {
            position: relative;
        }

        body.classic .recaptcha-merge__action {
            position: absolute;
            display: inline-block;
            top: 50%;
            right: 10px;
            margin-top: -25px;
        }

            body.classic .recaptcha-merge__action > a {
                display: block;
                text-align: right;
                text-shadow: 0 0 1px white;
                color: #333333;
            }

        body.classic #recaptcha_image {
            margin-bottom: 15px;
        }

            body.classic #recaptcha_image > img {
                border-radius: 3px;
            }

            body.classic #recaptcha_image br:first-of-type {
                display: none;
            }

            body.classic #recaptcha_image,
            body.classic #recaptcha_image > img {
                width: 100% !important;
                height: auto !important;
            }

        body.classic #recaptcha_audio_play_again {
            cursor: pointer;
        }

        body.classic .contact__map {
            width: 100%;
            height: 500px;
            margin: -70px 0;
        }

        body.classic footer {
            width: 100%;
            left: 0;
            bottom: 0;
            padding-top: 3px;
            padding-bottom: 3px;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            line-height: 20px;
            text-align: center;
        }

            body.classic footer a,
            body.classic footer a:hover,
            body.classic footer a:focus {
                color: white;
            }

            body.classic footer .social__item {
                text-align: center;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 1em;
                display: inline-block;
                background: rgba(0, 0, 0, 0.1);
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }

                body.classic footer .social__item:hover,
                body.classic footer .social__item:focus {
                    background-color: rgba(0, 0, 0, 0.5);
                    text-decoration: none;
                }

label {
    cursor: pointer;
}

table td, table th {
    white-space: nowrap;
}

/* Sweep To Bottom */
button {
    border: 0;
    font-family: 'cwTeXFangSong', serif;
    padding: 2px 7px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    button:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2098d1;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    button:hover, button:focus, button:active {
        color: white;
    }

        button:hover:before, button:focus:before, button:active:before {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }

a {
    text-decoration: none;
    color: #bebebe;
}

    a:after {
        color: #bebebe;
    }

/*Preloader*/
.preloader,
.preloader__img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.preloader {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    z-index: 999998;
}

    .preloader::before,
    .preloader::after {
        content: "";
        display: block;
        position: absolute;
        width: 200%;
        height: 50%;
        left: -50%;
        background: #222;
        -webkit-transition: all 1s ease-in;
        -o-transition: all 1s ease-in;
        transition: all 1s ease-in;
    }

    .preloader::before {
        top: 0;
        -webkit-transform-origin: right top;
        -moz-transform-origin: right top;
        -ms-transform-origin: right top;
        transform-origin: right top;
    }

    .preloader::after {
        bottom: 0;
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        transform-origin: left top;
    }

    .preloader.active::before,
    .preloader.active::after {
        height: 0;
        -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        -o-transform: rotate(25deg);
        transform: rotate(25deg);
    }

.preloader__img {
    position: absolute;
    margin: auto;
    z-index: 999999;
}

.coming-soon {
    padding: 120px 0 180px;
    position: relative;
    text-align: center;
    color: #FFFFFF;
}

/*查詢相關項目*/
.searcher {
    padding: 0 0 0 300px;
}

    .searcher .dvbtn {
        text-align: right;
    }

    .searcher div:first-child {
        color: #fff;
        width: 70%;
    }

    .searcher th {
        font-size: 18px;
        font-weight: lighter;
        padding-left: 10px;
        text-align: right;
    }

    .searcher td {
        text-align: left;
    }

    .searcher input, .searcher select {
        opacity: 0.3;
        border-width: 0;
        font-family: 'cwTeXFangSong', serif;
    }

        .searcher input:focus, .searcher input:hover, .searcher select:hover {
            opacity: 0.8;
        }

    /* Bounce To Bottom */
    .searcher a {
        padding: 24px 7px 5px 7px;
        font-size: 18px;
        font-weight: lighter;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

        .searcher a:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #c5c5c5;
            opacity: 0.6;
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .searcher a:hover, .searcher a:focus, .searcher a:active {
            color: white;
        }

            .searcher a:hover:before, .searcher a:focus:before, .searcher a:active:before {
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            }

.hvr-bounce-to-bottom-selected {
    background: #c5c5c5;
    color: white;
}

/*資料呈現*/
.data {
    padding-left: 100px;
}

    .data .title {
        font-size: 24px;
        text-shadow: 3px 2px 2px #000;
    }

    .data .main th, .data .main td {
        padding: 3px 8px;
        opacity: 0.8;
    }

    .data .main th {
        background-color: #df9968;
        color: #000;
    }

    .data .main td {
        background-color: #7495f4;
    }

    .data .main tr:nth-child(odd) td {
        background-color: #ccc;
        color: #374888;
    }

.upd {
    display: none;
    font-family: 'cwTeXFangSong', serif;
}

    .upd .dvupbtn button, .upd td input, .upd td select {
        font-family: 'cwTeXFangSong', serif;
    }

    .upd .dvupbtn {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
        font-family: 'cwTeXFangSong', serif;
    }
