
<link href="~/Content/view/way.css" rel="stylesheet" />
<div class="coming-soon">
    <div class="container">
        <div class="row">
            <div class="col-md-12 shadow">
                <div class="site-title">
                    <h1>Moto Story</h1>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 shadow">
                <div class="site-lead">
                    <p>Want to find a future, there are plans, there are quantifiable record of life, for me it is important numbers, or bits and pieces of the process. In addition, the website where the Chinese font ugly ... had to use English to maintain the beauty of the page.</p>
                    <p>Do not ask why I called "locomotive Story"?</p>
                    <p>Because you can not ask me, "Why?" Haha...</p>
                </div>
            </div>
            <div class="col-md-12">
                <div id="countdown"></div>
            </div>
            <div class="col-md-12">
                <p id="btnway">
                    <a class="scroll-down" href="javascript:"><i class="fa fa-angle-double-down"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>
