@{
    Layout = null;
}
@using MaxiJMobile.Models;
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/icon.ico" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width" />
    <title>NonSupport</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div data-role="page">
        <div class="welcome_classic" id="welcome">
            <h3>不支援 IE 8.0 (含)以下的版本<br />請升級到較新版本的IE、Mozilla Firefox、Google Chrome 或 Opera Software，進行瀏覽！</h3>
        </div>
        <footer class="ui-footer-fixed">
            &copy; Copy Right 2015 @(2015 <= DateTime.Now.Year ? "" : (" - " + DateTime.Now.ToTwDateTime().Year.ToString())) Maximus Chang
        </footer>
    </div>
</body>
</html>