@section style{
    <link href="~/Content/view/way.css" rel="stylesheet" />
}
<section class="left-sidebar">
    <ul class="main-menu">
        <li id="menu-item-text" class="menu-item scroll"><a href="#text">Text</a></li>
        <li id="menu-item-carousel" class="menu-item scroll"><a href="#carousel">Carousel</a></li>
        <li id="menu-item-grid" class="menu-item scroll"><a href="#grid">Grid</a></li>
        <li id="menu-item-featured" class="menu-item scroll"><a href="#featured">Featured</a></li>
        <li id="menu-item-tabs" class="menu-item scroll"><a href="#tabs">Tabs</a></li>
        <li id="menu-item-contact" class="menu-item scroll"><a href="#contact">Contact</a></li>
    </ul>
</section>