@using MaxiJMobile.Models;
<div class="data">
    <table>
        <tr>
            <td id="dvdata"></td>
            <td id="dvtran"></td>
        </tr>
    </table>
</div>
@section scripts {
    <script>
        $(window).load(function () {
            /*已有庫存的資料已才意義*/
            $.post('@Url.Content("~/Select/getStockHasTran")')
               .done(function (x) {
                   function chk(gv) {
                       $("#cTargetQty,#cTargetPrice").isNum();
                       var qty = $.multiplication(1000, $("#cTargetQty").val()),
                           price = $.multiplication(1, $("#cTargetPrice").val()),
                           act = $("#cAct :selected").val();
                       $("#cAvgCost,#cFee,#cFinQty,#cFinFee").text(0);
                       if ($.multiplication(qty, price) <= 0) { return; }
                       var bf = $.getStockFee({ "price": price, qty: qty, "type": act }),
                           finqty = 0,
                           finfee = 0;
                       $("#cFee").text(bf);
                       finqty = $.addition(gv.cQty, ("B" == act) ? qty : -qty);
                       finfee = $.getStockFee({ "price": gv.cPrice, qty: finqty, "type": "S" });
                       $("#cFinFee").text(finfee);
                       $("#cFinQty").text(finqty);
                       $("#cAvgCost").text($.division($.addition($.addition($.addition(bf, finfee), gv.cCost), $.multiplication(qty, price)), finqty));
                   }

                   $("#dvdata").tableData({
                       "title": "股票列表",
                       "hidden": ["cId", "cName"],
                       "data": x,
                       "msg": ["@csProp.csTip.Stock.Cost_Desc_001"],
                       "th": [{ n: "名稱", v: "cName" }, { n: "代號", v: "cId" }, { n: "庫存", v: "cQty", t: "num" }, { n: "均價", v: "cAvgPrice", t: "num" },
                           { n: "收價", v: "cPrice", t: "num" }, { n: "成本", v: "cCost", t: "num" },
                           {
                               n: "模擬", t: "btn", f: function (e) {
                                   $("#dvtran").tableData({
                                       "title": "模擬",
                                       isvertical: true,
                                       vercr: 1,
                                       "data": e,
                                       "th": [{ n: "名稱", v: "cName" }, { n: "代號", v: "cId" }, { n: "庫存", v: "cQty", t: "num" }, { n: "收價", v: "cPrice", t: "num" },
                                           { n: "分類", v: "cAct", t: "sel-codeopt", "cupid": "01001", "hasid": true, "change": function (e) { chk(e); } },
                                           { n: "目標張數", v: "cTargetQty", t: "txt", "hasid": true, "d": 0, "change": function (e) { chk(e); } },
                                           { n: "目標成交價", v: "cTargetPrice", t: "txt", "hasid": true, "d": e.cPrice, "change": function (e) { chk(e); } },
                                           { n: "手續費", v: "cFee", t: "num", "hasid": true },
                                           { n: "結存庫存", v: "cFinQty", t: "num", "hasid": true }, { n: "出清手續費", v: "cFinFee", t: "num", "hasid": true },
                                           { n: "成本均價", v: "cAvgCost", t: "num", "hasid": true }, { n: "計算", t: "btn", f: function (e) { chk(e); } }]
                                   });
                               }
                           }]
                   });
               });
            /*設定分類*/
            $("#cAct").getCodeOpt({ "cupid": "01001" });
        });
    </script>
}
