@using MaxiJMobile.Models;
<div class="searcher">
    <div>
        <form id="frmup">
            <table id="tbup">
                <tr>
                    <th>股票</th>
                    <td>
                        <input id="stock" type="text" maxlength="10" size="11" placeholder="股票名稱/代號" />
                    </td>
                </tr>
            </table>
        </form>
        <div class="dvbtn">
            <button id="bsubmit" type="button">查詢</button>
            <button id="breset" type="reset">重設</button>
        </div>
    </div>
</div>
<div class="data">
    <table>
        <tr>
            <td id="dvdata"></td>
            <td id="dvtran"></td>
        </tr>
    </table>
</div>
@section scripts {
    <script>
        var chardata = null, dv = null;
        function getData(isg) {
            function ok(d) {
                $("#dvtran").empty();
                var st = $("#stock").totrimupper().val();
                if (isg && st != "") {
                    chardata = $.grep(d, function (a) { return a.cId.indexOf(st) >= 0 || a.cName.indexOf(st) >= 0; });
                }
                else { chardata = d; }
                $("#dvdata").tableData({
                    "title": "股票列表",
                    "th": [{ n: "序號", v: "cSeq" }, { n: "名稱", v: "cName" }, { n: "代號", v: "cId" }, { n: "損益", v: "cCost", t: "num-rg" },
                        { n: "批次", v: "cBat" }, { n: "種類", v: "cTypeName" },
                        {
                            n: "查詢", t: "btn",
                            f: function (e, t) {
                                $.post('@Url.Content("~/Select/getStockClearingTran")', { "id": e["cSeq"] })
                                    .done(function (x) {
                                        $("#dvtran").tableData({
                                            "title": e["cName"] + "-" + e["cId"],
                                            "th": [{ n: "分類", v: "cActName" }, { n: "數量(股)", v: "cQty", t: "num" }, { n: "成交價", v: "cPrice", t: "num" },
                                                { n: "手續費", v: "cFee", t: "num" }, { n: "成交日", v: "cTranDt" }],
                                            "hidden": ["cSeq", "cId", "cAct"],
                                            "data": x
                                        });
                                    });
                            }
                        }],
                    "hidden": ["cSeq"],
                    "data": chardata
                });
            }
            if (isg) { ok(dv); }
            else {
                $.post('@Url.Content("~/Select/getStockClearing")').done(function (x) {
                    dv = x;
                    ok(x);
                });
            }
        }
        $(window).load(function () {
            getData();
            /*查詢*/
            $("#bsubmit").click(function () { getData(true); });
            /*重設*/
            $("#breset").click(function () { $("#stock").val(""); });
        });
    </script>
}