@using MaxiJMobile.Models;
<div class="searcher">
    <div>
        <form id="frmup">
            <table id="tbup">
                <tr>
                    <th>股票</th>
                    <td>
                        <input id="stock" type="text" maxlength="10" size="11" placeholder="股票名稱/代號" />
                    </td>
                </tr>
            </table>
        </form>
        <div class="dvbtn">
            <button id="bsubmit" type="button">查詢</button>
            <button id="breset" type="reset">重設</button>
        </div>
    </div>
</div>
<div class="data">
    <table>
        <tr>
            <td id="dvdata"></td>
            <td id="dvtran"></td>
        </tr>
    </table>
</div>
@section scripts {
    <script>
        function getData(x, ys) {
            if (x.isok) {
                $("#dvdata").tableData({
                    "title": "股票列表",
                    "th": [{ n: "名稱", v: "cName" }, { n: "代號", v: "cId" }, { n: "庫存", v: "cQty", t: "num" }, { n: "目標差", v: "cMust", t: "num" },
                        {
                            n: "模擬", t: "btn", f: function (e) {
                                $("#dvtran").tableData({
                                    "title": "模擬",
                                    isvertical: true,
                                    vercr: 2,
                                    "data": e,
                                    "th": [{ n: "名稱", v: "cName" }, { n: "代號", v: "cId" }, { n: "庫存", v: "cQty", t: "num" },
                                        {
                                            n: "分類", v: "cAct", t: "sel-codeopt", "cupid": "01001", "hasid": true, "change": function (e) {
                                            }
                                        },
                                        { n: "手續費", v: "cFee", t: "num" }, { n: "目標(張)", v: "cFee", t: "txt", "hasid": true, d: 0 }]
                                });
                            }
                        }, { n: "目標(張)", v: "cTargetQty", t: "num" }],
                    "hidden": ["cId", "cName"],
                    "data": x.data,
                    "msg": ["經查詢，取得股票資料後，方可新增交易資料。",
                        "若查詢無股票時，需先新增股票。",
                        "配息權時，直接輸入取得的「總量」，或「總額」。"]
                });
            }
            else { if (!ys) { $.alert(x.msg); } }
        }

        function getTarget() { $.post('@Url.Content("~/Select/getStockTarget")').done(function (x) { getData(x, true); }); }

        $(window).load(function () {
            /*取得有設定目標量但未達標的股票資料*/
            getTarget();
            $("#cAct").getCodeOpt({ "cupid": "01001" });
            /*重設*/
            $("#breset").click(function () { $("#stock").val(""); });
            /*查詢*/
            $("#bsubmit").click(function () { $.post('@Url.Content("~/Select/getStockMultiId")', { "str": $("#stock").totrimupper().val() }).done(function (x) { getData(x, false); }); });
        });
    </script>
}
