@using MaxiJMobile.Models;
<div class="searcher">
    <div>
        <form id="frmup">
            <table id="tbup">
                <tr>
                    <th>股票</th>
                    <td>
                        <input id="stock" type="text" maxlength="10" size="11" placeholder="股票名稱/代號" />
                    </td>
                </tr>
            </table>
        </form>
        <div class="dvbtn">
            <button id="bsubmit" type="button">查詢</button>
            <button id="breset" type="reset">重設</button>
        </div>
    </div>
</div>
<div id="dvupupd" class="upd" title="增修">
    <input type="hidden" id="qty" />
    <form id="frmupupd">
        <input type="hidden" name="cSeq" id="cSeq" />
        <table>
            <tr>
                <th>代號</th>
                <td><input id="cId" name="cId" type="text" maxlength="10" size="11" readonly="readonly" /></td>
            </tr>
            <tr>
                <th>名稱</th>
                <td name="cName"></td>
            </tr>
            <tr>
                <th>分類</th>
                <td><select id="cAct" name="cAct"></select></td>
            </tr>
            <tr>
                <th>手續費</th>
                <td><input id="cFee" name="cFee" type="number" maxlength="8" size="9" placeholder="手續費" value="0" /></td>
            </tr>
            <tr>
                <th>成交日</th>
                <td><input id="cTranDt" name="cTranDt" type="date" maxlength="10" size="12" placeholder="成交日" /></td>
            </tr>
        </table>
        <div class="dvupbtn">
            <button id="bupd" type="button">確認</button>
            <button id="reset" type="reset">重設</button>
        </div>
    </form>
</div>
<div class="data" id="dvdata">
    ◆ 經查詢，取得股票資料後，方可新增交易資料。
    <br />
    ◆ 若查詢無股票時，需先新增股票。
</div>
@section scripts {
    <script>
        $(window).load(function () {

        });
    </script>
}
